body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(173, 239, 255);
}

main {
    flex: 1;
}

.my-custom-row {
    margin-top: auto;
}

.tab-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tab-content {
    text-align: center;
    background-color: aliceblue;
    min-height: 50vh;
}

footer {
    margin-top: auto;
}
