body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(173, 239, 255);
}

main {
    flex: 1;
}

.my-custom-row {
    margin-top: auto;
}

.tab-container {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tab-content {
    border-radius: 5px;
    text-align: left;
    background-color: azure;
    min-height: 60vh;
    padding: 4rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

.dropdown-menu {
    /* width: 100%; */
}

.input-container {
    display: flex;
    flex-direction: row;
}

.total-income-section {
    margin-top: 3rem;
    text-align: center;
}

.total-expenses-section {
    margin-top: 3rem;
    text-align: center;
}

footer {
    margin-top: auto;
    padding: 20px;
}